<!DOCTYPE html>
<html lang="pl">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dziki Pik</title>

      <link href="../static/main/css/blog-post.css" rel="stylesheet">

      <link rel="stylesheet" href="../static/main/css/tail.datetime-default.css">
        <script src="../static/main/js/tail.datetime.js"></script>

      <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
      <script type='text/javascript' src='../static/main/js/unitegallery.min.js'></script>

      <link rel='stylesheet' href='../static/main/css/unite-gallery.css' type='text/css' />
      <script type='text/javascript' src='../static/main/themes/tiles/ug-theme-tiles.js'></script>
      <link rel='stylesheet' href='../static/main/themes/default/ug-theme-default.css' type='text/css' />

      <!-- Bootstrap core JavaScript -->
    <script src="../static/main/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      <!-- Bootstrap core CSS -->
    <link href="../static/main/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/main/css/half-slider.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Dziki Pik</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Strona Główna</a>
                <span class="sr-only">(current)</span>
            </li>
              <li class="nav-item">
                  <a class="nav-link" href="/blog/">Blog</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/galeria/">Galeria</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cennik/">Oferta</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="/kontakt/">Kontakt</a>
            </li>
              {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/sesja/">Umów sesje</a>
            </li>
                  <li class="nav-item">
              <a class="nav-link" href="/logout/">Wyloguj</a>
            </li>
              {% else %}
                  <li clas="nav-item">
                  <a class="nav-link" href="" data-toggle="modal" data-target="#modalLoginForm">Zaloguj</a>
              </li>
              {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <section class="py-5">
      <div class="container"><br><br>
      		{% block page_content %}{% endblock %}
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark fixed-bottom">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Bartłomiej Głowacz 2019</p>
      </div>

    </footer>

     <!-- Login panel -->
    <form method="post">
        {% csrf_token %}
      <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Panel logowania</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <i class="fas fa-envelope prefix grey-text"></i>
              <input type="email" id="defaultForm-email" class="form-control validate" name="login">
              <label data-error="wrong" data-success="right" for="defaultForm-email">Adres e-mail</label>
            </div>

            <div class="md-form mb-4">
              <i class="fas fa-lock prefix grey-text"></i>
              <input type="password" id="defaultForm-pass" class="form-control validate" name="password">
              <label data-error="wrong" data-success="right" for="defaultForm-pass">Hasło</label>
            </div>
                <a href="/register/">Nie masz konta ? Zarejestruj się !</a>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" formaction="/login/" class="btn btn-default">Login</button>
          </div>
        </div>
      </div>
    </div>
    </form>
    <!-- End of login panel -->

  </body>

</html>
